<!DOCTYPE html>
<html>
<head>
    <title>Wikipedia Search</title>
    <link rel="stylesheet" type="text/css" href="/WikipediaSearchApplication/assets/css/index.css">
</head>
<body>
    <header>
        <h1>Wikipedia Search</h1>
    </header>
    <div class="container">
        <input type="text" id="searchInput" placeholder="Search Wikipedia">
        <button id="searchButton">Search</button>
        <ul id="searchResults"></ul>
    </div>
    <script src="/WikipediaSearchApplication/assets/js/WikipediaSearchApp.js"></script>
</body>
</html>
