<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link rel="stylesheet" href="/ResponsiveWebsite/assets/css/index.css">
</head>
<body>
    <header>
        <h1>Product Listing</h1>
    </header>
    <section class="container">
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/eniko-kis-KsLPTsYaqIQ-unsplash.jpg" alt="Product 1">
            <h2>Camera</h2>
            <p>Price: ₹5000</p>
        </div>
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/c-d-x-PDX_a_82obo-unsplash.jpg" alt="Product 2">
            <h2>Headphone</h2>
            <p>Price: ₹1999</p>
        </div>
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/eniko-kis-KsLPTsYaqIQ-unsplash.jpg" alt="Product 1">
            <h2>Camera</h2>
            <p>Price: ₹5000</p>
        </div>
    
        
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/c-d-x-PDX_a_82obo-unsplash.jpg" alt="Product 2">
            <h2>Headphone</h2>
            <p>Price: ₹1999</p>
        </div>
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/sunglass.jpg" alt="Product 1">
            <h2>Sunglass</h2>
            <p>Price: ₹599</p>
        </div>
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/charlesdeluvio-1-nx1QR5dTE-unsplash.jpg" alt="Product 2">
            <h2>Sunglass</h2>
            <p>Price: ₹799</p>
        </div>
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/sunglass.jpg" alt="Product 1">
            <h2>Sunglass</h2>
            <p>Price: ₹599</p>
        </div>
    
        
        <div class="product">
            <img src="/ResponsiveWebsite/assets/images/charlesdeluvio-1-nx1QR5dTE-unsplash.jpg" alt="Product 1">
            <h2>Sunglass</h2>
            <p>Price: ₹799</p>
        </div>
    </section>
</body>
</html>
