<!DOCTYPE html>
<html>
<head>
    <title>Age Calculator</title>
    <link rel="stylesheet" type="text/css" href="/AgeCalculator/assets/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Age Calculator</h1>
        <label for="birthdate">Enter your birthdate:</label>
        <input type="date" id="birthdate">
        <button id="calculateAge">Calculate Age</button>
        <p id="result">Your age is: <span id="age"></span></p>
    </div>
    <script src="/AgeCalculator/assets/js/ageCalc.js"></script>
</body>
</html>
